pipeline/ExecutionPipeline_Demo.json
{
	"name": "ExecutionPipeline_Demo",
	"properties": {
		"activities": [
			{
				"name": "Check product count",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select count(*) as RecordCount from Saleslt.product",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_Product_DS",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Activity if count is more than 100",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check product count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Check product count').output.firstRow.RecordCount, 100)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy Data from Product Table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SQL_Generic_DS",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": "Saleslt",
										"tableName": "Product"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ADLS_Generic_DS",
									"type": "DatasetReference",
									"parameters": {
										"filePath": "product"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-07-04T11:58:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}