pipeline/Foreach_Example_2.json
{
	"name": "Foreach_Example_2",
	"properties": {
		"activities": [
			{
				"name": "Count check for 100 records",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select Count(*) as RecordCount from saleslt.Customer",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_Customer_DS",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Record Check for 100 records",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Count check for 100 records",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Count check for 100 records').output.firstRow.RecordCount, 100)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data to Customer_copy table with truncation first",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": "TRUNCATE TABLE SalesLT.Customer_copy",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Copy_with_Truncate_DS",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "SQL_Product_DS",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-07-07T07:40:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}