pipeline/Ingestion_Product_Addres_To_JSON.json
{
	"name": "Ingestion_Product_Addres_To_JSON",
	"properties": {
		"activities": [
			{
				"name": "Calling product pipeline with a cheeck of 10",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Ingestion_Product_To_JSON",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Record Count in Product Address Table",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Calling product pipeline with a cheeck of 10",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select Count(*) as RecordCount from Saleslt.Address",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_Product_DS",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Total Record Count Check in Address Table",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Record Count in Product Address Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Record Count in Product Address Table').output.firstRow.RecordCount, 100)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy Address Table to ADLS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SQL_Customer_DS",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ADLS_Address_DS",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-07-06T13:00:24Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}