pipeline/Lookup_Demo.json
{
	"name": "Lookup_Demo",
	"properties": {
		"activities": [
			{
				"name": "Check the record count of customer DB",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*) as RecordCount from Saleslt.customer",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_Customer_DS",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Comparing the records for further processing",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check the record count of customer DB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Check the record count of customer DB').output.firstRow.RecordCount, 500)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SQL_Customer_DS",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "LookUp_Demo",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Exceute product table copy after copying customer Tab",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Comparing the records for further processing",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ExecutionPipeline_Demo",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-07-04T11:58:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}